.headerButton {
    background-color: transparent;

    border: 1px solid var(--color-border);
    border-radius: 100px;

    height: 40px;
    padding: 0 20px;

    cursor: pointer;
}

.headerButtonPrimary {
    background-color: black;

    color: #fff;

    border-radius: 100px;

    height: 40px;
    padding: 0 20px;

    cursor: pointer;
}

.banner {
    height: 250px;
    width: 100%;

    object-fit: cover;
}

.container {
    width: 100%;
    max-width: 1200px;

    margin: 30px auto;

    padding: 0 15px;
}

.top {
    width: 100%;

    display: flex;
    justify-content: space-between;

    span {
        font-size: 14px;

        color: var(--color-text);
    }
}

.lastPostDate {
    color: var(--color-text);
}

.imageContainer {
    columns: 4;
    column-gap: 5px;

    margin-top: 20px;

    .image {
        width: 100%;

        &:hover {
            opacity: 0.7;

            cursor: pointer;
        }

        &:active {
            opacity: 0.5;
        }
    }

    @media screen and (max-width: 940px) {
        columns: 3;
    }

    @media screen and (max-width: 720px) {
        columns: 2;
    }

    @media screen and (max-width: 500px) {
        columns: 1;
    }
}